/* 
reset  
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/*
 general 
*/

.column-1-3 {
    width: calc(100% / 3 - 20px);
    
}

.container {
    width: 1200px;
    min-height: 50px;
    border: 2px solid black;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.card > .immagine1 {
    width: 100%;
    display: block;
}

.cartteristiche-card {
    margin-bottom: 50px;
}


/*
header  
*/

header {
    position: relative;
    
}

.background-container-header {
    background-color: #ff6900;
    width: 100%;
    /* position: fixed;
    top: 0; */
}


.categoria {
    color: white;
    font-size: large;
}

.logo img {
    width: 120px;
}

.icone {
    color: white;
}

/* 
main  
*/



.container-main {
    width: 1200px;
    margin: 100px auto 0;
    
}

.my-row {
    flex-wrap: wrap;
    display: flex;
}

.card {
    min-height: 500px;
    border: 2px solid black;
    position: relative;
    
}



.column-1-3:nth-child(3n+2) {
    margin: 0 20px;

}

.prezzo {
    color: red;
}

.prezzo > span {
    color: black;
    text-decoration: line-through;
}

.caselle {
    position: absolute;
    bottom: 20px;
    
}

.container-sconto {
    background-color: red;
    color: white;
    padding: 5px 10px;
    text-align: center;
    font-size: small;
    display: inline-block;
    position: relative;
    

}

.sostenibilità {
    background-color: #008000;

    
}

.cuoricino {
    width: 40px;
    height: 40px;
    background-color: white;
    text-align: center;
    padding-top: 12px;
    position: absolute;
    top: 2%;
    right: 0;

}
 
/* BONUS */
.cuoricino:hover {
    color: red;
}

.immagine1 {
    display: block;
    width: 100%;
}

.immagine2 {
    display: none;
    width: 100%;
}

.immagini:hover .immagine1 {
    display: none;
}

.immagini:hover .immagine2 {
    display: block;
}
/* 
footer  
*/

.background-container-footer {
    background-color: #1a1a1a;
    width: 100%;
    /* position: fixed;
    bottom: 0; */
}

.informazioni {
    color: white;
    padding: 30px 0;
}

.informazioni > div {
    margin-bottom: 20px;
}
.privacy > a {
    color: white;
    text-decoration: none;
    padding-right: 10px;
}

.social {
    color: white;
    text-align: center;
    
}

.icone-footer {
    margin: 10px;
}

.icone-footer > i {
    padding: 5px;
    font-size: 20px;
}
